<!-- Please replace the following lines for your own site's CSS. -->
<script src=https://duruofei.com/jquery.min.js></script>
<script src=https://duruofei.com/jquery.poptrox.min.js></script>
<script src=https://duruofei.com/skel.min.js></script>
<script src=https://duruofei.com/strata.js></script>
<script src=https://duruofei.com/popup.min.js></script>
<script src=https://duruofei.com/lightbox.js></script>
<!-- Include your own js file as follows: -->
<!-- js: duweb.js -->
</div>
</div>
<footer id="footer">
  <ul class="icons">
    <li><a href="https://www.youtube.com/watch?v=VKRAv3vDjv4&list=PLOynw4iQRT4T4BnJfoHqbNGO3VUCK2mR3"
        class="icon fa-youtube" target="_blank"><span class="label">YouTube</span></a></li>
    <li><a href="https://scholar.google.com/citations?user=VnIyMxQAAAAJ" class="icon fa-university"
        target="_blank"><span class="label">Google Scholar</span></a></li>
    <li><a href="https://linkedin.com/in/duruofei" class="icon fa-linkedin" target="_blank"><span
          class="label">LinkedIn</span></a></li>
    <li><a href="https://twitter.com/DuRuofei" class="icon fa-twitter" target="_blank"><span
          class="label">Twitter</span></a></li>
    <li><a href="https://facebook.com/duruofei" class="icon fa-facebook" target="_blank"><span
          class="label">Facebook</span></a></li>
    <li><a href="https://instagram.com/stareadrf/" class="icon fa-instagram" target="_blank"><span
          class="label">Instagram</span></a></li>
    <li><a href="https://github.com/ruofeidu" class="icon fa-github" target="_blank"><span
          class="label">Github</span></a></li>
    <li><a href="http://art.duruofei.com" class="icon fa-camera-retro" target="_blank"><span
          class="label">Art</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; {{title}}</li>
    <li>{{year}}</li>
  </ul>
</footer>
</body>

</html>
