<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="description" lang="en" content="{{description}}" />
    <meta name="description" lang="cn" content="{{description_cn}}" />
    <meta name="keywords" content="{{keywords}}" />
    <meta name="author" content="{{name}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:image" content="/photos/Ruofei_Du.jpg" />
    <meta property="og:description" content="{{description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- favicons -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/favicons/favicon.ico"
    />
    <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/144.png" />
    <!-- Please replace the following two lines for your own site's CSS. -->
    <link rel=stylesheet href=https://duruofei.com/css/main.css> <link
    rel=stylesheet href=https://duruofei.com/css/popup.css>
    <!-- css: main.css -->
  </head>

  <body id="top">
    <!-- Header -->
    <header id="header">
      <a href="/" class="image avatar">
        <!-- image: RuofeiDu.jpg | {{avatar}} -->
      </a>
      {{header_intro}}
    </header>
  </body>
</html>
