<!-- include: header.html -->
<div id="main">
  <section id="intro">
    <!-- include: intro.html -->
  </section>
  <section id="publications">
    <!-- include: papers/featured_publications.html -->
  </section>
  <section id="selected_publications">
    <!-- include: papers/recent_publications.html -->
  </section>
  <section id="arts">
    <!-- include: arts/recent_arts.html -->
  </section>
  <section id="other">
    <!-- include: courses/index_courses.html -->
    <!-- include: services/index_services.html -->
  </section>
  <!-- include: contact.html -->
</div>

<!-- include: footer.html -->
