DuEngine: an efficient and interactive C++ graphics engine.
https://github.com/ruofeidu/DuEngine
Language-based Colorization of Scene Sketches.
https://github.com/SketchyScene/SketchySceneColorization
SketchyScene: Richly-Annotated Scene Sketches.
https://github.com/SketchyScene/SketchyScene
VRSurus: Enhancing Interactivity and Tangibility of Puppets in Virtual Reality.
https://github.com/ruofeidu/VRSurus
SketchyScene: Richly-Annotated Scene Sketches.
https://github.com/SketchyScene/SketchyScene
HandSight: An iPad prototype for evaluating using finger-mouted camera with vibration feedback system to enable reading
of printed text for people with visual impairments.
https://github.com/ruofeidu/HandSight